.countContainer{
    justify-content: center;
}

.countTittle{
    font-size: 5vh;
    font-weight: bold;
    padding-top: 8vh;
}

.count {
  cursor: pointer;
  font-size: 4vh;
  font-weight: 300;
  transition: font-weight 250ms ease-in-out;
}

.count:hover {
  font-weight: 900;
}
