<div class="genderize">
    <h1 class="tittle">Genderize</h1>
    <div class="container">
        <div class="row justify-content-center inputName">
            <input type="text" class="form-control" placeholder="Ingrese Un Nombre">
        </div>
        <div class="row resultContainer">
            <div class="col">
                <h3>Gender</h3>
            </div>
            <div class="col">
                <h3>Probability</h3>
            </div>
            <div class="col">
                <h3>Count</h3>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getEndpointData()">Cargar Datos</button>
    </div>
</div>