<div id="Genderize">
        <div class="div tittle">
            <h2 class="col-12 display-4 text-capitalize tittleText">Genderize</h2>
        </div>
        
        <section class="row" id="boxes">
            <div class="div input">
                <input type="text" class="form-control" placeholder="Write a name" id="name">
                <button type="button" class="btn btn-primary" (click)="getEndpointData()">Go!</button>
            </div>
            
            <article class="col">
                <div *ngIf="gender!==''">
                    <img class="genderImage" [src]="url" alt="genderImage">
                </div>
            </article>

            <article class="col">
                <app-donutchart [data]=data></app-donutchart>
            </article>

            <article class="col">
                <div *ngIf="count">
                    <app-count [count]=count></app-count>
                </div>
            </article>
        </section>
</div>